
body{
  background-color: aquamarine;
}

.accordion {
  background-color: black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 300px;
}
.title{
  color: greenyellow;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
}


.accordion-content ul {
  list-style: none;
  padding: 0;
}


.accordion-content li {
  padding: 5px 0;
}

.accordion-button:hover {
  background-color: #e0e0e0;
  transition: background-color 0.2s;
}